*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

.logo{
    font-size: 30px;
    color: #fff;
}

.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px 20px;
    background-color: rgb(250, 195, 94);
}

ul{
	list-style: none;
	display: flex;
	background-color: none;
	margin: 0px 30px;
}

li{
	text-align: center;
	font-weight: bold;
	color: rgb(250, 195, 94);
	padding: 5px 40px;
    border-left: 1px solid rgb(250, 195, 94);
}
li a{
    color: #fff;
}

.active{
	color: rgb(250, 195, 94);
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
}

.burger{
	display: none;
}

.menu, .menux{
	width: 50px;
	float: right;
}

.menux{
	display: none;
}

.link{
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    color: rgb(250, 195, 94);
    padding: 5px 20px;
    border-radius: 25px;
}

.content{
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}


.content_text{
    width: 50%;
    position: absolute;
    top: 200px;
    right: 30px;
}

.content_head{
    color: #fff;
    font-size: 65px;
    font-family: Cambria;
    animation: head 3s;
    line-height: 55px;
    margin-bottom: 18px;
}

.content_text p{
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;
    margin-bottom: 5px;
    animation: ptext 3s;
}
.textem{
    color: rgb(250, 195, 94);
}
em{
    font-style: normal;
    color: #000;
}

.but{
    margin-top: 20px;
    border: none;
    padding: 15px 40px;
    transition: .3s ease-in;
    font-size: 16px;
    font-weight: bold;
}

.but:hover{
    background-color: rgb(250, 195, 94);
    color: #fff;
}


.third{
    display: flex;
    width: 100%;

}

.third_content{
    width: 70%;
    margin: 0px 10px;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    box-shadow: 3px 3px 5px -1px #ddd;
}

.third img{
    width: 100%;
}

.third h1{
    font-size: 18px;
    margin: 8px 0px;
}

.reach_out{
    display: none;
}

.abt{
    margin-top: 50px;
    background-color: #fff;
    border-top: 2px solid rgb(250, 195, 94);
    border-bottom: 2px solid rgb(250, 195, 94);
    padding: 30px;
    color: #000;
    align-items: center;
    justify-content: space-around;
}

.about{
    display: flex;
    justify-content: space-between;
}

.about img, .about_text{
    width: 50%;
}

.about_text p{
    margin: 5px 0px;
}

.about .reach_in{
    font-size: 40px;
    color: rgb(250, 195, 94);
}

.about h4, .newsletter h3{
    font-size: 24px;
}
.about img{
    width: 200px;
    height: 200px;
}

.about button{
    margin-top: 20px;
    border: none;
    padding: 15px 40px;
    font-weight: bold;
    background-color: rgb(250, 195, 94);
    color: #fff;
}

.newsletter{
    padding: 50px;
    background-color: rgb(250, 195, 94);
    box-shadow: 3px 3px 5px -1px #ddd;
    justify-content: space-between;
    text-align: center;
}

.newsletter input{
	width: 98%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin: 10px 0px;
	padding: 0px 10px;
	outline: none;
}

.newsletter .bot{
    width: 100%;
    background-color: #000;
    padding: 6px 0px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(245, 186, 76);
}

#ftext{
	text-align: center;
	margin: 10px 0px;
}
@keyframes head{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes ptext{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

@media screen and (max-width: 810px){
    .navbar{
        justify-content: space-between;
        padding: 6px;
        
    }
    em{
        font-style: normal;
        color: #000;
    }
    .burger{
        display: block;
    }
    .list{
        display: none;
    }
    ul{
        position: absolute;
        top: 7%;
        width: 100%;
        height: 100vh;
        margin: 0px;
        margin-left: -7px;
        padding-top: 70px;
        z-index: 1;
        background-color: rgb(250, 195, 94);
    }
    
    li{
        text-align: center;
        font-weight: bold;
        color: #000;
        padding: 0px;
        border: none;
        margin: 20px 0px;
        /* border-bottom: 1px solid rgb(250, 195, 94); */
    }
    /* li:last-child{
        border: none;
    } */
    .content{
        width: 100%;
        background-repeat: no-repeat;
    }
    
    .content_text{
        width: 80%;
        position: absolute;
        top: 15%;
        right: 10px;
        margin: 0px 30px;
    }

    .content_head{
        font-size: 28px;
        line-height: 1;
    }
    
    .content_text p{
        font-size: 13px;
    }
    
    .but{
        margin-top: auto;
        padding: 10px 20px;
        font-size: 13px;
    }
    
    .but:hover{
        background-color: rgb(17, 15, 12);
        color: #fff;
    }
    
    .third{
        display: block;
        position: static;
    }
    
    .third_content{
        width: 90%;
        margin: 20px auto;
    }

    .reach_out{
        display: block;
        font-size: 40px;
        color: rgb(250, 195, 94);
        text-align: center;
        margin-bottom: 15px;
    }
    .abt{
        padding: 10px 20px;
    }
    .about{
        margin-top: 20px;
        display: block;
    }
    
    .about_text{
        margin-top: 10px;
        width: 100%;
    }
    .about img{
        width: 100px;
        height: 100px;
    }
    .about_text p{
        margin: 5px 0px;
    }

    .about button{
        margin-top: 20px;
        padding: 10px 20px;
    }

    .newsletter .bot{
        width: 105%;
        border-radius: 3px;
    }

    #ftext{
        text-align: center;
        margin: 10px 0px;
        font-size: 16px;
    }
}

@media only screen and (width: 810px){
    ul{
        top: 5%;
        margin: 0px;
    }
    .content_text{
        width: 80%;
        position: absolute;
        top: 20%;
        right: 30px;
        margin: 0px 30px;
    }
    .content_head{
        font-size: 55px;
        line-height: 1;
    }
    
    .content_text p{
        font-size: 18px;
    }
}

@media screen and (width: 360px){
    .content_text{
        width: 80%;
        position: absolute;
        top: 10%;
        right: 30px;
        margin: 0px 30px;
    }
}