{% extends 'users/templates/base.html' %}
{% block page_content %}
{% load static %}
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Poppins:wght@500&family=Roboto:wght@100&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200;300&family=Roboto:wght@300&display=swap');
	</style>
<body>
	<h3 class="heading" >Trending</h3>
	{% for post in post %}
	{% for cat in post.categories.all %}
	<div class="post" >
		<img class="img" src="{{ post.images.url }}" ><br>
		<div class="post-tag">
			<span id="category" >{{ post.created_on | date}} | </span>
			<span class="btext" id="category"  ><a href="{% url 'cat' category=cat.name %}">{{ cat.name }}</a></span>
			<span id="category" > | {{ post.views }} views</span><br>
		</div>
		<h4 class="btext" id="head" >{{ post.title }}</h4>
		<p class="ltext" >{{ post.body|safe|slice:':320' }}...</p>
		<button class="btnn"><a href="{% url 'detail' category=cat.name slug=post.slug  %}">Read More</a></button>
	</div>
	{% endfor %}
	{% endfor %}

	<section>
		{% for post in cat %}
		<h2 class="cat">{{ post.categories.get.name }}</h2>
		{% endfor %}
		{% for post in cat %}
		<div class="cat-post">
			<img class="cat-img" src="{{ post.images.url }}" alt="">
			<div class="cat-text">
				<span id="category" >July, 2022 | </span>
				<span class="btext" id="category"  ></span>
				<span id="category" > | {{ post.views }} views</span><br>
				<h4 class="btext" id="head" >{{ post.title }}</h4>
				<button class="btnn"><a href="{% url 'detail' category=cat.name slug=post.slug %}">Read More</a></button>
			</div>
		</div>			
		{% endfor %}

	</section>
	<br><br>
{% endblock %}