{% extends 'base.html' %}
{% block page_content %}
{% load static %}
	<link rel="stylesheet" href="{% static '22style.css' %}" >
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Poppins:wght@500&family=Roboto:wght@100&display=swap');
	</style>
<body>
    <span class="cat-head">Home/{{ post.categories.get.name }}</span>
    <div class="post" >
		<h4 class="btext" id="head" >{{ post.title }}</h4>
		<div class="post-tag">
            <span id="category" >{{ post.created_on }} | </span>
            <span class="btext" id="category"  ><a href="{% url 'cat' category=post.categories.get %}">{{ post.categories.get }}</a></span>
            <span id="category" > | {{ post.views }} views</span><br>
        </div>
        <img class="img" src="{{ post.images.url }}" ><br>
        <p class="ltext" >{{ post.body|safe }}</p>
	</div>

    <h1>Comments</h1>
    {% for comments in comment %}
        <h2>{{ comments.user }}</h2>
        {{ comments.body }}
        <a href="{% url 'reply' post.categories.get post.slug comments.id %}">{{ comments.id }}Reply</a><br><br>
    {% endfor %}

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.body }}
        <!-- <input type="submit" value="comment"> -->
        <button type="submit">comment</button>
    </form>

    <br><br>
{% endblock %}