{% extends 'base.html' %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'details.css' %}" >
<link rel="stylesheet" href="{% static 'landingstyle.css' %}" >
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Poppins:wght@500&family=Roboto:wght@100&display=swap');
	</style>
    <div class="container">
		<div class="navbar" >
			
			<h3 class="logo" >tro<em>nix</em></h3>
	
			<div class="burger" >
				<img src="{% static 'images/menu.png' %}" class="menu" >
				<img src="{% static 'images/cancel.png' %}" class="menux" >
			</div>
            <ul class="list">
                <li><a href="{% url 'home' %}" class="active"  >Home</a></li>
                <li><a href="" >Portfolio</a></li>
                <li><a href="{% url 'home' %}" >Visit Blog</a></li>
                <li><a href="{% url 'register' %}"><button class="link">Register</button></a></li>
                <li><a href="{% url 'login' %}" ><button class="link">Login</button></a></li>
            </ul>
        </div>
	</div>
    <div class="comment">
        <h2>{{ comment_id.user }}:</h2>
        <p>{{ comment_id.body }}</p>

        <br><br>
        <h3>Replies</h3>
        {% for replies in reply %}
            <b>{{ replies.user }}:</b><br>
            {{ replies.body }}<br><br>
        {% endfor %}

        <br><br>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="cover">
                {{ form.body }}
                <button class="formbtn" type="submit">reply</button>
            </div>
        </form>
        <br><br>
    </div>

    <section>
		<div class="newsletter" >
			<h3>Subscribe to our newsletter</h3>
			<input type="gmail" placeholder="Enter your email"><br>
			<button class="bot">subscribe</button>
		</div>
	</section>
	
	<footer>
		<p class="ltext" id="ftext" >Copyright ©2022 All rights reserved | </p>
		<p class="ltext" id="ftext" >Terms & Condition | Privacy Policy</p>
	</footer>
    <script src="{% static '1js.js' %}"></script>
{% endblock %}