{% extends 'base.html' %}
{% block page_content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'landingstyle.css' %}">
    <style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Poppins:wght@500&family=Roboto:wght@100&display=swap');
	</style>
    <div class="container">
		<div class="navbar" >
			
			<h3 class="logo" >tro<em class="em">nix</em></h3>
	
			<div class="burger" >
				<img src="{% static 'images/menu.png' %}" class="menu" >
				<img src="{% static 'images/cancel.png' %}" class="menux" >
			</div>
            <ul class="list">
                <li><a href="{% url 'home' %}" class="active">Home</a></li>
                <li><a href="" >Portfolio</a></li>
                <li><a href="{% url 'home' %}" >Visit Blog</a></li>
                <li><a href="{% url 'register' %}"><button class="link">Register</button></a></li>
                <li><a href="{% url 'login' %}" ><button class="link">Login</button></a></li>
            </ul>
        </div>
	</div>
    <div class="cont">
        <img class="content" src="{% static 'images/image2.png' %}" alt="image1">
        <div class="content_text">
            <h1 class="content_head">We offer <em class="textem">free information</em> on Electronics</h1>
            <p><em class="textem">Do you want to know more about our offers and what we stand for?</em></p>
            <button class="but">Learn More</button>
        </div>
    </div>
    
    <section class="third">
        {% for post in post %}
        <div class="third_content">
            <img src="{{ post.images.url }}" alt="" width="500px">
            <div class="third_text">
                <h1><a href="{% url 'detail' post.categories.get post.slug %}">{{ post.title }}</a></h1>
                <p>{{ post.created_on | date }}</p>
            </div>
        </div>
        {%  endfor %}
    </section>
    
    <div class="abt">
        <div class="about">
            <div class="about_text">
                <h1 class="reach_in">Reach Out to Us Now!!!</h1>
                <h4>Tired of taking your Tv set for repair?</h4>
                <p>Then contact us to help you fix it within 24hours</p>
                <button class="">Contact Us</button>
            </div>
            <img src="{% static 'images/clock.png' %}" alt="">
        </div>
    </div>
    <br><br>
    <section>
		<div class="newsletter" >
			<h3>Subscribe to our newsletter</h3>
			<input type="gmail" placeholder="Enter your email"><br>
			<button class="bot">subscribe</button>
		</div>
	</section>
	
	<footer>
		<p class="ltext" id="ftext" >Copyright ©2022 All rights reserved | </p>
		<p class="ltext" id="ftext" >Terms & Condition | Privacy Policy</p>
	</footer>
<script src="{% static '1js.js' %}"></script>
{% endblock %}