{% extends 'base.html' %}
{% block page_content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'landingstyle.css'%}">
<body>
    <div class="container">
		<div class="navbar" >
			
			<h3 class="logo" >Tro<em>nix</em></h3>
	
			<!-- <div class="burger" >
				<img src="Menu.png" class="menu" >
				<img src="Cancel.png" class="menux" >
			</div> -->
            <ul class="list">
                <li><a href="" class="active"  >Home</a></li>
                <li><a href="" >Portfolio</a></li>
                <li><a href="{% url 'home' %}" >Visit Blog</a></li>
                <li><a href="{% url 'register' %}"><button class="link">Register</button></a></li>
                <li><a href="{% url 'login' %}" ><button class="link">Login</button></a></li>
            </ul>
        </div>
	</div>
    <div class="cont">
        <img class="content" src="image2.png" alt="">
        <div class="content_text">
            <h1 class="content_head">We offer <em>free information</em> on Electronics</h1>
            <p><em>Do you want to know more about our offers and what we stand for?</em></p>
            <p class="content_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem molestiae ad, rerum libero eligendi </p>
            <button class="but">Learn More</button>
        </div>
    </div>
    
    <section class="third">
        <div class="third_content">
            <img src="image1.png" alt="">
            <div class="third_text">
                <h1>What to know before and after getting a TV set in Nigeria</h1>
                <p>2 days ago</p>
            </div>
        </div>
        <div class="third_content">
            <img src="image2.png" alt="">
            <div class="third_text">
                <h1>Which TV product is better LG, Samsung, Philip?</h1>
                <p>2 days ago</p>
            </div>
        </div>
        <div class="third_content">
            <img src="image3.png" alt="">
            <div class="third_text">
                <h1></h1>
                <p>2 days ago</p>
            </div>
        </div>
    </section>
    
    <div class="abt">
        <h1 class="reach_out">Reach Out to Us Now!!!</h1>
        <div class="about">
            <div class="about_text">
                <h1 class="reach_in">Reach Out to Us Now!!!</h1>
                <h4>Tired of taking your Tv set for repair?</h4>
                <p>Then contact us to help you fix it within 24hours</p>
                <button class="">Contact Us</button>
            </div>
            <img src="clock.png" alt="">
        </div>
    </div>
    <br><br>
    <section>
		<div class="newsletter" >
			<h3>Subscribe to our newsletter</h3>
			<input type="gmail" placeholder="Enter your email"><br>
			<button class="bot">subscribe</button>
		</div>
	</section>
	
	<footer>
		<p class="ltext" id="ftext" >Copyright ©2022 All rights reserved | </p>
		<p class="ltext" id="ftext" >Terms & Condition | Privacy Policy</p>
	</footer>
<script src="{% static '1js.js' %}"></script>
{% endblock %}