{% extends 'base.html' %}
{% block page_content %}
{% load static %}
<html>
    <head>
        <title>SignUp</title>
        <link rel="stylesheet" href="{% static 'login_style.css' %}">
        <link rel="stylesheet" href="{% static 'signup_style.css' %}">
    </head>

    <body>
        <div class="login_form">
            <h1 class="form_head">REGISTER ACCOUNT</h1>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="form">
                    {{ form.username }}
                </div>
                <div class="form">
                    {{ form.email }}
                </div>
                <div class="form">
                    {{ form.password1 }}
                </div>
                <div class="form">
                    {{ form.password2 }}
                </div>
                <input type="submit" id="bot" value="register">
            </form>

            {{ form.errors }}

            <p id="alink">Already have an account? <a class="alink" href="{% url 'login' %}">Login</a></p>
        
        </div>

        <script>
            var form = document.getElementsByTagName('input');
            form[1].placeholder = 'Username';
            form[2].placeholder = 'Email';
            form[3].placeholder = 'Password';
            form[4].placeholder = 'Confirm Password';
        </script>
</html>
{% endblock %}