{% extends 'base.html' %}
{% block page_content %}
{% load static %}
<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="page-header-breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>{{ cat }}</li>
                </ul>
                <h1>{{ cat }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    {% if posts %}
                    {% for post in posts %}
                    <!-- post -->
                    <div class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" href=""><img src="{{ post.images.url }}" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat" href="{% url 'category' post.categories.get %}">{{ post.categories.get }}</a>
                                    <span class="post-date">{{ post.created_on }}</span>
                                </div>
                                <h3 class="post-title"><a href="{% url 'detail' post.categories.get post.title %}">{{ post.title }}</a></h3>
                                <p>{{ post.body | slice:'125'}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                    {% endfor %}
                    {% else %}
                        {% for msg in messages %}
                        <p class="msg_error">{{msg}}
                        </p>
                        {% endfor %}
                    {% endif %}
                    <!-- ad -->
                    <div class="col-md-12">
                        <div class="section-row">
                            <a href="#">
                                <img class="img-responsive center-block" src="{% static 'img/ad-2.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- ad -->

                    {% if top_post %}
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Recommended Posts:</h2>
                        </div>
                    </div>
                    {% for post in top_post %}
                    <!-- post -->
                    <div class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" href=""><img src="{{ post.images.url }}" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat" href="{% url 'category' post.categories.get %}">{{ post.categories.get }}</a>
                                    <span class="post-date">{{ post.created_on }}</span>
                                </div>
                                <h3 class="post-title"><a href="{% url 'detail' post.categories.get post.title %}">{{ post.title }}</a></h3>
                                <p>{{ post.body | slice:'125'}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            
            <div class="col-md-4">
                <!-- ad -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="{% static 'img/ad-1.jpg' %}" alt="">
                    </a>
                </div>
                <!-- /ad -->
                
                <!-- post widget -->
				<div class="aside-widget">
					<div class="section-title">
						<h2>Most Read</h2>
					</div>
					{% for post in most_read %}
					<div class="post post-widget">
						<a class="post-img" href=""><img src="{{ post.images.url }}" alt=""></a>
						<div class="post-body">
							<h3 class="post-title"><a href="{% url 'detail' post.categories.get post.title %}">{{ post.title }}</a></h3>
						</div>
					</div>
					{% endfor %}
				</div>
				<!-- /post widget -->
                
                <!-- catagories -->
				<div class="aside-widget">
					<div class="section-title">
						<h2>Catagories</h2>
					</div>
					<div class="category-widget">
						<ul>
							{% for i in h %}
                                {% for j in i.keys %}
                                    <li><a href="{% url 'category' j %}" class="cat">{{ j }}
                                {% endfor %}
                                {% for k in i.values %}
                                    <span>{{ k }}</span></a></li>
                                {% endfor %}
                            {% endfor %}
						</ul>
					</div>
				</div>
				<!-- /catagories -->
				
				<!-- tags -->
				<div class="aside-widget">
					<div class="tags-widget">
						<ul>
							{% for category in category %}
                            <li><a href="{% url 'category' category %}">{{ category }}</a></li>
                            {% endfor %}
						</ul>
					</div>
				</div>
				<!-- /tags -->
                
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}